<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <form action="/nova-serie" method="POST">
    
        <label>Name</label>
        <input name="name">
        <br>

        <label>Genre</label>
        <input name="genre">
        <br>

        <label>Description</label>
        <input name="description">
        <br>

        <label>Image URL</label>
        <input name="image_url">
        <br>

        <input type="submit" value="Enviar">
    </form>

</body>
</html>