<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Minha página</title>

    <link rel="stylesheet" href="css/main.css">

</head>

<body>

    <header class="main-header">
        <nav class="main-header-nav">
            <!-- itens da esquerda -->
            <ul class="main-header-list">
                <li class="main-header-item"><a href="/">Início</a></li>
                <li class="main-header-item"><a href="/">Produtos</a></li>
                <li class="main-header-item"><a href="/">Ofertas</a></li>
            </ul>
            <!-- itens da direita -->
            <ul class="main-header-list">
                <li class="main-header-item"><a href="/add-product">Add Produto</a></li>
                <li class="main-header-item"><a href="/">Login</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Lista de Produtos</h2>

        <div class="grid">
            <article class="card product">
                <header class="card-header">
                    <h1 class="product-title">Produto 1</h1>
                </header>
                <div class="card-image">
                    <img src="https://i.pinimg.com/originals/f1/66/76/f1667644c763dd86f09a6f0edf877949.jpg">
                </div>
                <div class="card-content">
                    <h2 class="product-price">R$ 0,99</h2>
                    <p class="product-description">Produto Genérico!</p>
                </div>
                <div class="card-actions">
                    <a href="/" class="btn">Detalhar</a>
                    <a href="/" class="btn">Adicionar</a>
                </div>
            </article>

            <article class="card product">
                <header class="card-header">
                    <h1 class="product-title">Produto 2</h1>
                </header>
                <div class="card-image">
                    <img src="https://i.pinimg.com/originals/f1/66/76/f1667644c763dd86f09a6f0edf877949.jpg">
                </div>
                <div class="card-content">
                    <h2 class="product-price">R$ 2,99</h2>
                    <p class="product-description">Produto Genérico!</p>
                </div>
                <div class="card-actions">
                    <a href="/" class="btn">Detalhar</a>
                    <a href="/" class="btn">Adicionar</a>
                </div>
            </article>

            <article class="card product">
                <header class="card-header">
                    <h1 class="product-title">Produto 3</h1>
                </header>
                <div class="card-image">
                    <img src="https://i.pinimg.com/originals/f1/66/76/f1667644c763dd86f09a6f0edf877949.jpg">
                </div>
                <div class="card-content">
                    <h2 class="product-price">R$ 3,99</h2>
                    <p class="product-description">Produto Genérico!</p>
                </div>
                <div class="card-actions">
                    <a href="/" class="btn">Detalhar</a>
                    <a href="/" class="btn">Adicionar</a>
                </div>
            </article>

            <article class="card product">
                <header class="card-header">
                    <h1 class="product-title">Produto 4</h1>
                </header>
                <div class="card-image">
                    <img src="https://i.pinimg.com/originals/f1/66/76/f1667644c763dd86f09a6f0edf877949.jpg">
                </div>
                <div class="card-content">
                    <h2 class="product-price">R$ 4,99</h2>
                    <p class="product-description">Produto Genérico!</p>
                </div>
                <div class="card-actions">
                    <a href="/" class="btn">Detalhar</a>
                    <a href="/" class="btn">Adicionar</a>
                </div>
            </article>

        </div>


    </main>

    <footer>
        Desenvolvido por Vinícius Machado (Prof Vini)
    </footer>
</body>

</html>