<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        * {
            font-size: 3vw;
        }
    </style>
</head>
<body style="height: 90vh; display:flex; align-items:center; justify-content:center">
    
    <form action="/detalhes" method="POST" style="text-align: center;">
        <input placeholder="ISBN" name="isbn">
        <br><br>
        
        <input type="submit" value="OK" style="width: 30%;">
    </form>

    
</body>
</html>