<header class="main-header">
    <nav class="main-header-nav">
        <!-- itens da esquerda -->
        <ul class="main-header-list">
            <li class="main-header-item"><a href="/inicial">Início</a></li>
            <li class="main-header-item"><a href="/">Produtos</a></li>
            <li class="main-header-item"><a href="/">Ofertas</a></li>
        </ul>
        <!-- itens da direita -->
        <ul class="main-header-list">
            <li class="main-header-item"><a href="/add-product">Add Produto</a></li>
            <li class="main-header-item"><a href="/">Login</a></li>
        </ul>
    </nav>
</header>