
<%- include('partials/head') %>

</head>

<body>

    
    <%- include('partials/navegacao') %>

    <main>
        
        <form action="/add-product" method="POST">
            <label for="name">Nome</label>
            <input name="name" id="name"/>
            <br>
            <label for="price">Preço</label>
            <input type="number" name="price" id="price"/>
            <br>
            <label for="description">Descricao</label>
            <input name="description" id="description"/>
            <br>
            <label for="imageUrl">URL da Imagem</label>
            <input name="imageUrl" id="imageUrl"/>
            <br>
            <button>Cadastrar!!!</button>
            <br>
        </form>

    </main>

</body>
</html>