<%- include('header') %>

<body>

    <form action="/add-post" method="POST">
        <label for="titulo">TITULO</label>
        <input name="titulo">
        <br>

        <label for="texto">TEXTO</label>
        <input name="texto">
        <br>
        
        <input type="submit" value="VAI!">

    </form>

</body>

</html>