<%- include('header') %>

<body>

    <form method="POST">
        <label for="titulo">TITULO</label>
        <input name="titulo" value="<%=post.titulo%>">
        <br>

        <label for="texto">TEXTO</label>
        <input name="texto"  value="<%=post.texto%>">
        <br>
        
        
        <input type="submit" value="VAI!">

    </form>

</body>

</html>